<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bob's Dealership</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
<div class="container">
	<div>
		<h1><a href="/">Bob's Dealership</a></h1>
	</div>
</div>
</header>
<main>
{{{ body }}}

</main>
<div class="container" style="text-align:center">
	   &copy;2019 <a href="/">Bobs Dealership</a>
</div>
</body>
</html>

