<img src="https://www.techdrips.org/wp-content/uploads/2017/07/got-logo.jpg">
<ul>
  {{#each gameOfThrones}}
    <li>
      <a href="/{{name}}">{{name}} of House {{house}}</a></p>
    </li>
  {{/each}}
</ul>
