body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
    color: #FF8500;
    text-decoration: none;
  }

  a:hover {
    color: #EA7B00;
  }
#clients {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#clients td, #clients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#clients tr:nth-child(even){background-color: #f2f2f2;}

#clients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(175, 112, 76);
    color: white;
}

.add-client{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.add-client-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.add-client label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.add-client label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.add-client span.required{
	color:red;
}
.add-client .tel-number-field{
	width: 40px;
	text-align: center;
}
.add-client input.input-field, .add-client .select-field{
	width: 48%;	
}
.add-client input.input-field, 
.add-client .tel-number-field, 
.add-client .textarea-field, 
 .add-client .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.add-client .input-field:focus, 
.add-client .tel-number-field:focus, 
.add-client .textarea-field:focus,  
.add-client .select-field:focus{
	border: 1px solid #0C0;
}
.add-client .textarea-field{
	height:100px;
	width: 55%;
}

input[type=submit],
input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input[type=submit]:hover,
input[type=button]:hover{
	background: #EA7B00;
    color: #fff;
    cursor: pointer;
}