<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Client List</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<a href="/">
		<img src="https://www.smartmoneymatch.com/bundles/frontend/images/company-logo.png" style="width:100px">
	</a>
	{{{ body }}}
	<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>